<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Bowling With Babbel</title>
    <link rel="stylesheet" href="./main.css">
</head>
<body>

<div id="app-container">
    <canvas id="render-surface" width="800" height="600"></canvas>
    <div id="app-root">

        <component-splash v-if="gameManager.showSplashScreen" v-bind:game-manager="gameManager"></component-splash>
        <component-score-board v-if="gameManager.showScoreboard" v-bind:game-manager="gameManager"></component-score-board>
        <component-player-turn v-if="gameManager.showPlayerTurnMessage" v-bind:player-index="gameManager.turnManager.currentPlayerIdx"></component-player-turn>

    </div>
</div>

<script src="./dist/vendor.bowling.js"></script>
<script src="./dist/bowling.js"></script>
</body>
</html>