html, body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    overflow: hidden;
    font-family: Sans-Serif;
}

#app-container {
    position: relative;
}

#app-root {
    position: absolute;
    top: 0;
    left: 0;
    display: flex;
    width: 100%;
    justify-content: center;
    perspective: 1000px;
}

.component-main {
    color: white;
    text-align: center;
    display: flex;
    flex-direction: column;
    align-content: center;
    transform: translate3d(0, -100%, 0);
    width: 33%;
    height: 330px;

    transition: transform 0.6s;
    transform-style: preserve-3d;

}

.flip-card {
    transition: transform 0.6s;
    transform-style: preserve-3d;
    background: rgb(255, 141, 19);
    border-radius: 30px;
    height: 100%;
    width: 100%;
}

.flip-front{
    backface-visibility: hidden;
    width: 100%;
    height:100%;
    position: absolute;
}

.flip-back {
    backface-visibility: hidden;
    transform: rotateY(180deg);
    width: 100%;
    height:100%;
    position: absolute;
}

.flip-card.flipped {
    transform: rotateY(180deg);
}


@keyframes slideInDown {
    from { transform: translate3d(0, -100%, 0); }
    to {   transform: translate3d(0, 50%, 0); }
}

@keyframes slideOutUp {
    from { transform: translate3d(0, 50%, 0); }
    to {   transform: translate3d(0, -150%, 0); }
}

img {
    max-width: 100%;
}

.slideOutUp {
    animation: slideOutUp 1s forwards;
}

.slideInDown {
    animation: slideInDown 2s forwards;
    animation-delay: 0.5s;
}

.component-main h1 {
    font-size: 32pt;
}

.component-main p {
    font-size: 24pt;
}

.pulsate {
    -webkit-animation: pulsate 2s linear;
    -webkit-animation-iteration-count: infinite;
    opacity: 0.5;
}

@-webkit-keyframes pulsate {
    0% {
        opacity: 0.25;
    }
    50% {
        opacity: 1.0;
    }
    100% {
        opacity: 0.25;
    }
}

.player-selection-panel {
    display:flex;
    flex-direction: column;
    justify-content: center;
}

.player-selection-panel img {
    margin: 1em auto;
}

.player-selection-grid {
    display:flex;
    flex-direction: row;
    justify-content: center;
}

.player-select-button {
    margin: 8px;
    cursor: pointer;
    font-size: 24pt;
    width: 10%;
    border: 1px solid white;
}

.player-select-button:hover {
    background: white;
    color: rgb(255, 141, 19);
}
